:root {
    --dark: #171717;
    --gray: #444;
    --red: #Da0037;
    --light: #ededed;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--dark);
    color: var(--light);
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Iosevka web", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--red);
    height: 5rem;
}

.filters {
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

#sort {
    margin-right: 0.5rem;
    background: var(--light);
    height: 45px;
    width: 5rem;
    border-radius: 2rem;
    font-family: inherit;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2rem;
    height: 45px;
    width: 3rem;
    border-radius: 2.5rem;
    background: var(--light);
    transition: 0.7s;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
}

.search-box input {
    display: none;
    border: none;
    outline: none;
    background: transparent;
    color: var(--dark);
    font-family: inherit;
    transition: 1s;
}

.search-box i {
    color: var(--red);
    margin-right: 0.3rem;
    transition: 0.8s;
}

.header {
    width: 20%;
    text-align: center;
    font-style: italic;
    font-size: 3rem;
}

.add-product {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.add-product-container {
    display: inherit;
    width: 70%;
    align-items: center;
    justify-content: center;
    height: 12rem;
    border: 2px solid var(--light);
    border-radius: 10px;
    background: var(--gray);
    -webkit-box-shadow: 7px 4px 0px 4px var(--red);
    -moz-box-shadow: 7px 4px 0px 4px var(--red);
    box-shadow: 7px 4px 0px 4px var(--red);
}

#add-product-form {
    display: inherit;
    flex-direction: column;
    justify-content: center;
}

.form-filters {
    margin-top: 0.5rem;
    display: inherit;
    align-items: center;
    justify-content: space-evenly;
}

#add-product-form input[type='text'] {
    margin: 0.5rem;
    outline: none;
    border: none;
    color: var(--dark);
    background: var(--light);
    font-size: 1.1rem;
    font-family: inherit;
    height: 4rem;
    width: 26rem;
    border-radius: 10px;
    padding-left: 1rem;
}

.button {
    appearance: button;
    background-color: var(--dark);
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: var(--light) 4px 4px 0 0, var(--dark) 4px 4px 0 1px;
    box-sizing: border-box;
    color: var(--light);
    cursor: pointer;
    display: inline-block;
    font-family: inherit, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button:focus {
    text-decoration: none;
}

.button:hover {
    text-decoration: none;
}

.button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

.remove-btn {
    appearance: button;
    background-color: var(--red);
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    color: var(--light);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.remove-btn:focus {
    text-decoration: none;
}

.remove-btn:hover {
    text-decoration: none;
}

.remove-btn:active {
    outline: 0;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-wrapper .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.checkbox-wrapper .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-wrapper .ikxBAC,
.checkbox-wrapper .ikxBAC::after {
    transition: all 100ms ease-out;
}

.checkbox-wrapper .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.checkbox-wrapper input[type=checkbox] {
    cursor: default;
}

.checkbox-wrapper .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.checkbox-wrapper .ikxBAC:checked {
    background-color: var(--red);
}

.checkbox-wrapper .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
}

.checkbox-wrapper :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-wrapper .ikxBAC:checked:hover {
    background-color: var(--red);
}

.project-container {
    background: var(--gray);
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.list li {
    list-style: none;
    margin-top: 1rem;
    color: var(--red);
}

.book-link{
    padding:0 2rem;
    color: var(--light);
}

.book-link:hover{
    text-decoration: none;
}

.btns-container {
    margin-right: -10rem;
}

.book-container input{
    margin-right: 6rem;
    width:1.25rem;
    height: 1.25rem;
}

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.book-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

